
.footercontain{
    background-color:#5D6D7E ;
    height: 640px;
}

form{
    display: flex;
    height: 85%;
}
.lineone{
    display: flex;
    color: white;
}
form{
    margin-left: 65%;
    margin-top: 1%;
    width: 25%;
}
input{
    width: 0%;

}
.linetwo{
    float: left;
    padding-left: 0%;
    background-color:#5D6D7E ;
    width: 100%;
}
.linetwo p{
    float: left;
    margin-left: 13%;
    padding-left: 0;
    color: white;
    
}
.linethree{
    color: white;
    margin-top: 8%;
    display: flex;
    margin-left: 3%;
}

.col-sm{
    display: flex;
  margin-left: 6%;
}
.foothead{
    position: absolute;
    margin-left: 12.5%;
}
.foot1{
    width: 23%;
   
    margin-left: 3%;
}
.foot2{
    width: 23%;
   
}
.foot3{
    width: 23%;
    
}
.foot4{
    width: 23%;  
}
.foot5
{
display: flex;
margin-left: 5%;
margin-top: 8%;
}
.foot5left{
   
    width: 40%;
}
.foot5right{
    
    width: 55%;
}
.logocontainer h3{

}
.foot3h p:hover{
  color: brown;
  opacity: 0.5;
}