.headercontainer{
   
    display: flex;
}
img{
    height:75% ;
    width:3% ;
}
.logocontain{
    display: flex;
}

.butQuote{
    height: 55%;
    margin-top: 1%;
    border: none;
    background-color: #ffc107;
    color: white;
    
}
.btnsign{
    height: 55%;
    margin-top: 1%;
    border: none;
    background-color: #343a40;
    color: white;
}
.ton{
    margin-left: 10.5%;
    margin-top: -1%;
    padding-top: 0px;
    
    float: left;
}
.btn:hover{
  transform: scale(1.1);
  color: rgb(194, 159, 118);
}
button:hover{
    transform: scale(1.1); 
    opacity: 0.8;
    color: red;
}
.logocontain h1{
    font-family: "Oswald", sans-serif;
    margin-left: 1.2%;
}