.slider1{
    height: 600px;
    width: 70%;
    float: right;
}
.carousel-control-prev-icon{
    background-color: #ffc107;
    padding-top: 25%;
    margin-top: 260%;
    width: 70px;
}
.carousel-control-next-icon{
    background-color: #ffc107;
    padding-top: 25%;
    margin-top: 260%;
    width: 70px;
    margin-right: 100px;
    float: left;
    justify-content: left;
}
.carousel-control-next{
    margin-right: 76.5%;
}
.sr-only{
    background-color: #ffc107;
    height:50px ;
    width: 70px;
    
}
.slideright{
    position: absolute;
    width: 550px;
    height: 500px;
    background-color: white;
    margin-top: -36.25%;
    display: flex;
    justify-content: flex-start;
}
.bestship{
    position: absolute;
    padding-left: 10%;
    padding-top: 17%;
    font-size:55px;
}
.partner{
    position: absolute;
    padding-left: 10%;
    font-size: 55px;
    padding-top: 30%;
    color: #ffc107;
}
.logispara{
    position: absolute;
    padding-left: 10%;
    
    padding-top: 50%;
}
.logispara1{
    position: absolute;
    padding-left: 10%;
    
    padding-top: 55%;
}
.logispara2{
    position: absolute;
    padding-left: 10%;
    
    padding-top: 60%;
}
.logisticbtn{
    height: 45px;
    position: absolute;
    margin-left: 10%;
    margin-top: 70%;
    background-color: #ffc107;
    border: none;
    color: white;
}


  .bestship{
    overflow: hidden; 
  
    white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 3.5s steps(40),
    blink-caret .75s  infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
  